body {
    background-image: url('https://cdni.iconscout.com/illustration/premium/thumb/coffee-shop-illustration-download-in-svg-png-gif-file-formats--delicious-logo-cafe-store-food-pack-restaurants-bar-illustrations-5953294.png?f=webp'); /* Replace with actual image */
          background-size: cover;     
         background-repeat: no-repeat;  
        background-position: center;
        background-size: 120vw 180vh;
    background-position: center;
  }

  